*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;

}
ul,ol{
    list-style: none;
}
.container{
    max-width: 1240px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}






nav .logo{
    width: 20%;
}
nav .menu{
    width: 50%;
    text-align: center;
}
nav .menu ul{
    justify-content: center;
}
nav .menu a{
    padding: 38px 37.5px;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: black;

}
nav .quicklink{
    width: 30%;
    text-align: right;
}
nav .row{
    align-items: center;
}
nav .quicklink a{
    color: black;
    font-size: 23px;
    margin: 0 22.5px;
}